.main {
    flex-direction: vertical;
}

.encryption{
    flex-direction: row;
}

#gitHubGistUrl {
    width: 500px;
}

#dencrypt {
    background-color: #45a049;   
}

.toggle-details {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px;
    background-color: #0059ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.shouldOpen {
    background-color: #ffffffdb;
    color: #0059ff;
    border: 2px solid #0059ff;
    transition: background-color 0.3s, color 0.3s;
}

.shouldClose {
    background-color: #ffffffdb;
    color: #ff0000;
    border: 2px solid #f44336;
    transition: background-color 0.3s, color 0.3s;
}