.main {
    flex-direction: vertical;
}

.encryption{
    flex-direction: row;
}

#gitHubGistUrl {
    width: 500px;
}

#dencrypt {
    background-color: #45a049;   
}

#toggleDetailsButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px;
    background-color: #0059ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}